<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
    <div>
        [ <a href="/">homepage</a> ]
        [ <a href="/commands">command list</a> ]
        [ <a href="/ai">chatbot users</a> ] 
        [ <a href="/server">servers</a> ]
    </div>
    <hr>
    {% block body %}
    {% endblock %}
    <footer style="text-align:right">
        {% block footer %}
        {% endblock %}
        <hr>
        <p>SlaveBot, 1993</p>
        <a href="https://github.com/sortalost/slavebot">github</a>
    </footer>
</body>
</html>